<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.amoradi.topoli">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".SyncActivity"
            android:label="@string/sync_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoviesActivity"
            android:label="@string/movies_title" />
        <activity
            android:name=".TvShowsActivity"
            android:label="@string/tvshows_title" />
        <activity
            android:name=".BackupActivity"
            android:label="@string/backup_title" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.amoradi.topoli.SyncActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.amoradi.topoli.SyncActivity" />
        </activity>

        <service
            android:name="org.amoradi.topoli.StubAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="org.amoradi.topoli.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="org.amoradi.topoli.StubContentProvider"
            android:authorities="org.amoradi.topoli.provider"
            android:exported="false"
            android:syncable="true"/>

    </application>
</manifest>